@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700');

.default-page {
  background-image: url('../../images/concert-home.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Oswald;
  height: 100vh;
}

.title {
  color: rgb(105, 105, 105);
  display: inline;
  font-size: 65px;
  margin: 0 31%;
}

.in-the {
  color: rgb(105, 105, 105); 
  font-weight: 200;
  font-size: 35px; 
}

.default-page form {
  top: 270px;
  left: 20%;
  width: 60%;
}

.default-page input {
  border-radius: 5px;
  font-size:24px;
  height: 40px;
}

.default-page p {
  color: rgb(84, 84, 84);  
  font-size: 23px;
  margin: 120px 31% 10px;
}

.default-page button {
  border-radius: 5px;
  height: 45px;
  width: 150px;
}

