@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700');

.default-page {
  align-items: center;
  background-image: url('../../images/concert-home.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  padding-top: 100px;
  height: 100vh;
}

.title {
  color: rgb(49, 49, 49);
  display: inline;
  font-size: 65px;
  /* margin: 0 31%; */
}

.in-the {
  color: rgb(49, 49, 49); 
  font-weight: 200;
  font-size: 35px; 
}

.default-page form {
  top: 310px;
  left: 21%;
  width: 60%;
}

.default-page input {
  border-radius: 5px;
  font-size:24px;
  height: 40px;
}

.default-page p {
  color: rgb(84, 84, 84);  
  font-size: 25px;
  margin-top:65px;
  width: 100%;
}

.default-page button {
  border-radius: 5px;
  height: 45px;
  width: 150px;
}

 @media (max-width: 950px) {

  .default-page p {
    margin-left: 4%;
  }

}

@media (max-width: 790px) {

  .default-page form {
    left: 21%;
  }
  
}

@media (max-width: 765px) {

  .default-page form {
    left: 19%;
  }
  
}

@media (max-width: 710px) {

  .default-page form {
    left: 16%;
  }
  
}

@media (max-width: 640px) {

  .default-page form {
    left: 14%;
  }
  
}

@media (max-width: 610px) {

  .default-page form {
    left: 11%;
  }
  
}

@media (max-width: 555px) {

  .default-page form {
    left: 7%;
  }

  .default-page p {
    margin-left: 1%;
  }
  
}

@media (max-width: 535px) {

  .default-page form {
    left: 4%;
  }
  
}