.card {
  border: 1px solid black;
  height: 440px;
  margin: 10px;
  width: 300px;
}

.artist-card {
  border: none;
  border-bottom: 1px solid black;
  height: 180px; 
  margin-left: 30%;
  width: 40%;
}

.artist-card img {
  display: none;
}

.artist-card .artist-name {
  font-size: 30px;
  padding-left: 0;
}

.card-text {
  padding: 20px;
}

.artist-name {
  color: #a52e1e;
  font-size: 18px;
  text-align: justify;

}

.location-name {
  color: #a52e1eb0;
  font-size: 15px;
  padding-bottom: 0;
}

img {
  height: 150px;
  width: 300px;
}

p {
  color:#111;
}

a {
  color: #111;
  font-size: 12px;
  text-align: justify;
}

