.card {
  border: solid black 2px;
  height: 440px;
  margin-bottom: 20px;
  width: 300px;
}

.artist-name {
  font-size: 30px;
}

.location-name {
  font-size: 25px;
  padding-bottom: 0;
}

img {
  height: 150px;
  width: 300px;
}