.card {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(135, 135, 135, 0.586);
  height: 440px;
  margin: 10px;
  width: 300px;
}

.artist-card {
  border: none;
  border-bottom: 1px solid black;
  height: 240px; 
  margin-left: 30%;
  width: 40%;
}

.artist-card img {
  display: none;
}

.artist-card .artist-name {
  font-size: 30px;
  padding-left: 0;
}

.card-text {
  padding: 20px;
}

.artist-name {
  color: #1e4547;
  font-size: 18px;
  padding-bottom: 10px;
}

.location-name {
  color: #1a3c3eb3;
  font-size: 15px;
  padding-bottom: 0;
}

img {
  height: 150px;
  width: 300px;
}

p {
  color:#1a3c3eb3;
}

a {
  color: #1a3c3eb3;
  font-size: 12px;
  text-align: justify;
}

a:hover {
  color: #4bbfc3;
}

