form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 15%;
  position: absolute;
  top: 200px;
  width: 70%;
}

input {
  border-radius: 5px;
  font-size:24px;
  height: 40px;
  width: 90%;
}

button {
  background-color: rgba(4, 82, 80, 0.807);
  border-radius: 5px;
  border: none;
  color: #fff;
  height: 45px;
  width: 90px;
}

button:hover {
  background-color: rgba(14, 175, 170, .9);
}

input::placeholder {
  font-size: 18px;
}
