.home-page {
    position: absolute;
    left: 35%;
    top: 180px;
    width: fit-content;
}

h2 {
    color: #3e0c09;
    display: block;
    font-size: 35px;
}

h3 {
    color: #3e0c09;
    right: 450px; 
    position: relative;
}

hr {
    right: 490px;
    position: relative;
    width: 1350px;
}

form {
    display: flex;
    align-content: center;
    width: 390px;
}

input {
    height: 20px;
    margin-right: 5px;
    width: 85%;
}

input::placeholder {
    font-size: 18px;
}

button {
    background-color: #3e0c09; 
    border: none;
    color: #fff;
    font-size: 15px;
    height: 25px;
    padding: 5px;
    width: 55px;
}

button:hover {
    background-color: #a52e1eb0; 

}