@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700');

header {
    background-image: url('../../images/concert.jpg');
    background-position: bottom;
    background-size: 60%;
     /* background-repeat: no-repeat;  */
    display: flex;
    font-family: Oswald;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}

h1 {
    color: #fff;
    display: inline;
    font-size: 45px;
    padding: 35px 0 0 20px;
}

span {
    color: #fff;  
    font-weight: 200;
    font-size: 25px; 
}

.nav {
    color: #fff;
    font-size: 18px;
    margin: 10px;
    position: relative;
    right: 20px;
    text-decoration: transparent;
    top: 90px;
}

.nav:hover {
    color: #A4E3F2; 
    border-bottom: #A4E3F2 3px solid;
    font-weight: 700px; 
}

.active {
    color: #A4E3F2; 
    border-bottom: #A4E3F2 3px solid;
    font-weight: 700px; 
}
